*{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    background-image:image();
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
    padding-left: 8%;
}

.name{
    color:grey;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: navy;
}

nav ul li{
    list-style-type: none;
    display:inline-block;
    padding:10px 25px;
}

nav ul li a{
    list-style-type: grey;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:red;
    transition: .4s;
}

.btn{
    background-color: maroon;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}
.about-text a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    transform: scale(1.2);
}

.me{
    width: 100%;
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
}

h1{
    color:grey;
    margin:20px 0px 20px;
    font-size: 4rem;
}

h3{
    color: grey;
    font-size: 2rem;
    margin-bottom:50px;
}

h4{
    color: blueviolet;
    letter-spacing: 2px;
    font-size: 2rem;
}

.letter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.letter form input:first-child{
    display: inline-block;
    width:100%;
    padding: 14px 0px 14px 15px;
    border: 2px solid maroon;
    outline:none;
    border-radius:30px;
}

.letter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border:none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: maroon;
    color:grey;
    box-shadow:0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 0px;
}

.about{
    width:100%;
    padding:100px 0px;
    background-color: #191919;
}

.about img{
    height:auto;
    width:430px;
}

.main{
    width:1130px;
    max-width:95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text{
    margin-left: 5%;
}

.about-text h2{
    color: grey;
    font-size: 3rem;
    text-transform:capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color:white;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1rem;
    margin-bottom:45px;
}

button{
    background-color: maroon;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover{
    color:#fcfc;
    letter-spacing:1px;
    line-height:28px;
    font-size: 18px;
    margin-bottom:45px;
}

.content{
    background: #101010;
    width:100%;
    padding:100px 0px;
    text-align:center;
}

.title h2{
    color: white;
    font-size: 75px;
    width:1130px;
    margin:30px auto;
    text-align: center;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width:335px;
    padding: 20px 35px;
    border-radius: 20px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 3em;
    display: block;
    text-align: center;
    margin:25px 0px;
    color: maroon;
}

h5{
    color:white;
    font-size: 23px;
    margin-bottom:25px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: maroon;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:9px 22px;
    border-radius:3em;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid maroon;
    cursor: pointer;
}

.contact-me{
    width:100%;
    height:290px;
    background:#101010;
    display:flex;
}

footer{
    position: relative;
    width:100%;
    height:400px;
    background:#191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}

footer p:nth-child(1){
    font-size:30px;
    color: white;
    margin-bottom: 20px;
    font-weight:bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width:500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size:20px;
}

.social a:hover{
    transform:scale(1.3);
    transition:.3s;
}

.end{
    position: absolute;
    color: #f9004d;
    bottom:35px;
    font-size:14px;
}

@media(max-width:420px){
    .name{font-size: 1.5rem;}
    nav ul li a{font-size: 0.9rem;}
    .btn{width: 2rem;}
    .me{
        margin:6rem auto;
    }
    
    h1{
        color:grey;
        margin:20px 0px 20px;
        font-size: 2.2rem;
    }
    
    h3{
        color: grey;
        font-size: 1.2rem;
        margin-bottom:50px;
    }
    
    h4{
        color: blueviolet;
        letter-spacing: 2px;
        font-size: 1rem;
    }
    
    .letter form{
        width: 300px;
        max-width: 100%;
        position: relative;
    }
    .main{
        display:flex;
        flex-direction: column;
    }
    .foto{
        width:90%;
    }
    .foto img{
        width:100%;
    }
    .about-text h2{
        font-size: 2.5rem;
    }
    .about-text h5{
        font-size: 1.5rem;
    }
    .title h2{
        color: white;
        font-size: 3rem;
        width:370px;
        margin:1.5em auto;
        text-align: center;
    }
    .card{
        height: 350px;
        width:280px;
        padding: 1rem 2rem;
    }
    .box{
        display:flex;
        flex-direction: column;
        min-height: 400px;
    }
    footer{
        height:300px;
    }
}
